* {
    font-family: Helvetica;
    font-size: large;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color:bisque;
    min-height: 100vh;
    display: grid; 
    grid-template-columns: 0.4fr 1.5fr; 
    grid-template-rows: 0.2fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "loginInfo header"
        "sidebar nodeGraph"; 
}

.loginInfo { 
    grid-area: loginInfo;
    background-color:white;
}
.header { 
    grid-area: header;
    background-color: #E4DFDA;
    color: black;
}
.sidebar { 
    grid-area: sidebar;
    background-color: #5A7D7C;
}
.nodeGraph { 
    grid-area: nodeGraph;
    background-color: #D4B483;
}